container_commands:
    01_collectstatic:
        command: "django-admin.py collectstatic"
        leader_only: true

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: cms_project/wsgi.py
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: cms_project.settings
